.counter {
  background-color: black;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  text-align: center;
  margin: 5px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
